<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Add Freelancer</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>New Freelancer</h1>
	<div>
	<form th:object="${freelancer}" th:action="@{savefreelancer}" action="#" method="post">
	<label for="freelancerFName">First Name:</label>
			<input type="text" id="freelancerFName" th:field="*{freelancerFName}" />
	<div style="clear: both; display: block; height: 10px;"></div>
	<label for="freelancerLName">Last Name:</label>
			<input type="text" id="freelancerLName" th:field="*{freelancerLName}" />
	<div style="clear: both; display: block; height: 10px;"></div>
	<label for="freelancerPhone">Telephone:</label>
			<input type="text" id="freelancerPhone" th:field="*{freelancerPhone}" />
	<div style="clear: both; display: block; height: 10px;"></div>
	<label for="freelancerAddress">Address:</label>
			<input type="text" id="freelancerAddress" th:field="*{freelancerAddress}" />
	<div style="clear: both; display: block; height: 10px;"></div>
	<label for="freelancerEmail">Email:</label>
			<input type="text" id="freelancerEmail" th:field="*{freelancerEmail}" />
	<div style="clear: both; display: block; height: 10px;"></div>	
	<input type="submit" value="Save"></input>
	</form>
	</div>
	<br/>
	<a href="/brokermain">Return without saving</a>
</body>
</html>