<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Broker Main View Test</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">NN Translations</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="/index">Home
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/clientlist">Clients</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/languagelist">Languages</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/freelancerlist">Freelancers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/offerlist">Work Offers</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- work this out -->
	<br/>
	<h4>Clients</h4>
	<table style="width:70%;margin-left:15px" class="table table-hover">
		<tr>
			<th scope="col">Client</th>
			<th scope="col">Contact Name</th>
			<th scope="col">Phone Number</th>
			<th scope="col">E-Mail</th>
			<th scope="col"/>
			<th scope="col"/>
		</tr>
		<tr th:each="client: ${clients}">
			<td th:text="${client.clientName}">Client Name</td>
			<td
				th:text="${client.clientContactFName} + ' ' + ${client.clientContactLName}">Contact
				Name</td>
			<td th:text="${client.clientContactPhone}">Phone Number</td>
			<td th:text="${client.clientContactEmail}">Email</td>
			<td><a th:href="@{/editclient/{id}(id=${client.clientId})}"
			class="btn btn-outline-warning btn-sm">Edit</a>
			<td><a th:href="@{/deleteclient/{id}(id=${client.clientId})}"
			th:text="${client.getOffersSize()} > 0 ? '' : 'Delete'"></a>
		</tr>
	</table>
	<div>
	<a href="/addclient" class="btn btn-success btn-sm" >Add client</a>
	</div>
	<h4>Languages In Use</h4>
	<table>
	<tr>
	<th>Language</th>
	<th/>
	<th/>
	</tr>
	<tr th:each="language: ${languages}">
	<td th:text="${language.languageName}">Language Name</td>
	<td><a th:href="@{/editlanguage/{id}(id=${language.languageId})}"
	th:text="${language.getFreelancersSize()} > 0 ? '' : 'Edit'">Edit</a></td>
	<td><a th:href="@{/deletelanguage/{id}(id=${language.languageId})}"
	th:text="${language.getFreelancersSize()} > 0 ? '' : 'Delete'">Delete</a></td>
	</tr>
	</table>
	<div>
	<br/>
	<a href="/addlanguage">Add language</a>
	</div>
	
	<h4>Unassigned Work Offers</h4>
	<table>
		<tr>
			<th>Client</th>
			<th>Subject</th>
			<th>Word Count</th>
			<th>Source Language</th>
			<th>Target Language</th>
			<th>Price</th>
			<th>Assign</th>
			<th/>
			<th/>
		</tr>
		<tr th:each="offer: ${unassignedOffers}">
			<td th:text="${offer.client.clientName}">Client Name</td>
			<td th:text="${offer.subject}">Subject Matter</td>
			<td th:text="${offer.wordCount}">Word Count</td>
			<td th:text="${offer.sourceLanguage}">Source Language</td>
			<td th:text="${offer.targetLanguage}">Target Language</td>
			<td th:text="${offer.price}">Price</td>
			<td><a th:href="@{/assign/{id}(id=${offer.offerId})}">Assign</a></td>
			<td><a th:href="@{/editoffer/{id}(id=${offer.offerId})}">Edit</a></td>
			<td><a th:href="@{/deleteoffer/{id}(id=${offer.offerId})}">Delete</a></td>
		</tr>
	</table>
	<div>
	<br/>
	<a href="/addoffer">Add offer</a>
	</div>
	<h4>Assigned Work Offers</h4>
	<table>
		<tr>
			<th>Client</th>
			<th>Subject</th>
			<th>Word Count</th>
			<th>Source Language</th>
			<th>Target Language</th>
			<th>Price</th>
			<th>Freelancer</th>
			<th/>
			<th/>
		</tr>
		<tr th:each="offer: ${assignedOffers}">
			<td th:text="${offer.client.clientName}">Client Name</td>
			<td th:text="${offer.subject}">Subject Matter</td>
			<td th:text="${offer.wordCount}">Word Count</td>
			<td th:text="${offer.sourceLanguage}">Source Language</td>
			<td th:text="${offer.targetLanguage}">Target Language</td>
			<td th:text="${offer.price}">Price</td>
			<td th:text="${offer.freelancer.freelancerFName} 
			+ ' ' + ${offer.freelancer.freelancerLName}">Freelancer</td>
			<td><a th:href="@{/editoffer/{id}(id=${offer.offerId})}">Edit</a></td>
			<td><a th:href="@{/deleteoffer/{id}(id=${offer.offerId})}">Delete</a></td>
		</tr>
	</table>
		<h4>Completed Work Offers</h4>
	<table>
		<tr>
			<th>Client</th>
			<th>Subject</th>
			<th>Word Count</th>
			<th>Source Language</th>
			<th>Target Language</th>
			<th>Price</th>
			<th>Freelancer</th>
			<th/>
			<th/>
		</tr>
		<tr th:each="offer: ${completedOffers}">
			<td th:text="${offer.client.clientName}">Client Name</td>
			<td th:text="${offer.subject}">Subject Matter</td>
			<td th:text="${offer.wordCount}">Word Count</td>
			<td th:text="${offer.sourceLanguage}">Source Language</td>
			<td th:text="${offer.targetLanguage}">Target Language</td>
			<td th:text="${offer.price}">Price</td>
			<td th:text="${offer.freelancer.freelancerFName} 
			+ ' ' + ${offer.freelancer.freelancerLName}">Freelancer</td>
			<td><a th:href="@{/editoffer/{id}(id=${offer.offerId})}">Edit</a></td>
			<td><a th:href="@{/deleteoffer/{id}(id=${offer.offerId})}">Delete</a></td>
		</tr>
	</table>
	<h4>Freelancers</h4>
	<table>
	<tr>
		<th>Name</th>
		<th>Phone</th>
		<th>Address</th>
		<th>Email</th>
		<th>Languages</th>
		<th/>
		<th/>
	</tr>
	<tr th:each="freelancer: ${freelancers}">
		<td th:text="${freelancer.freelancerFName} + ' ' + ${freelancer.freelancerLName}">Freelancer name</td>
		<td th:text="${freelancer.freelancerPhone}">Phone number</td>
		<td th:text="${freelancer.freelancerAddress}">Address</td>
		<td th:text="${freelancer.freelancerEmail}">Email</td>
		<td th:text="${freelancer.getLanguagesAsStrings()}">Languages</td>
		<td><a th:href="@{/editfreelancer/{id}(id=${freelancer.freelancerId})}">Edit</a></td>
		<td><a th:href="@{/deletefreelancer/{id}(id=${freelancer.freelancerId})}"
		th:text="${freelancer.getOffersSize()} > 0 ? '' : 'Delete'"></a></td>
	</tr>
	</table>
	<div>
	<br/>
	<a href="/addfreelancer">Add freelancer</a>
	</div>
</body>
</html>