<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Broker Main View Test</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Clients</h1>
	<table>
		<tr>
			<th>Client</th>
			<th>Contact Name</th>
			<th>Phone Number</th>
			<th>E-Mail</th>
		</tr>
		<tr th:each="client: ${clients}">
			<td th:text="${client.clientName}">Client Name</td>
			<td
				th:text="${client.clientContactFName} + ' ' + ${client.clientContactLName}">Contact
				Name</td>
			<td th:text="${client.clientContactPhone}">Phone Number</td>
			<td th:text="${client.clientContactEmail}">Email</td>
		</tr>
	</table>
	<div>
	<br/>
	<a href="/addclient">Add client</a>
	</div>
	<h1>Unassigned Work Offers</h1>
	<table>
		<tr>
			<th>Client</th>
			<th>Subject</th>
			<th>Word Count</th>
			<th>Source Language</th>
			<th>Target Language</th>
			<th>Price</th>
			<th>Assign</th>
		</tr>
		<tr th:each="offer: ${unassignedOffers}">
			<td th:text="${offer.client.clientName}">Client Name</td>
			<td th:text="${offer.subject}">Subject Matter</td>
			<td th:text="${offer.wordCount}">Word Count</td>
			<td th:text="${offer.sourceLanguage}">Source Language</td>
			<td th:text="${offer.targetLanguage}">Target Language</td>
			<td th:text="${offer.price}">Price</td>
			<td><a th:href="@{/assign/{id}(id=${offer.offerId})}" method="post">Assign</a></td>
		</tr>
	</table>
	<div>
	<br/>
	<a href="/addoffer">Add offer</a>
	</div>
	<h1>Assigned Work Offers</h1>
	<table>
		<tr>
			<th>Client</th>
			<th>Subject</th>
			<th>Word Count</th>
			<th>Source Language</th>
			<th>Target Language</th>
			<th>Price</th>
			<th>Freelancer</th>
		</tr>
		<tr th:each="offer: ${assignedOffers}">
			<td th:text="${offer.client.clientName}">Client Name</td>
			<td th:text="${offer.subject}">Subject Matter</td>
			<td th:text="${offer.wordCount}">Word Count</td>
			<td th:text="${offer.sourceLanguage}">Source Language</td>
			<td th:text="${offer.targetLanguage}">Target Language</td>
			<td th:text="${offer.price}">Price</td>
			<td th:text="${offer.freelancer.freelancerFName} 
			+ ' ' + ${offer.freelancer.freelancerLName}">Freelancer</td>
		</tr>
	</table>
	<h1>Freelancers</h1>
	<table>
	<tr>
		<th>Name</th>
		<th>Phone</th>
		<th>Address</th>
		<th>Email</th>
		<th>Languages</th>
	</tr>
	<tr th:each="freelancer: ${freelancers}">
		<td th:text="${freelancer.freelancerFName} + ' ' + ${freelancer.freelancerLName}">Freelancer name</td>
		<td th:text="${freelancer.freelancerPhone}">Phone number</td>
		<td th:text="${freelancer.freelancerAddress}">Address</td>
		<td th:text="${freelancer.freelancerEmail}">Email</td>
		<td th:text="${freelancer.getLanguagesAsStrings()}">Languages</td>
	</tr>
	</table>
	<div>
	<br/>
	<a href="/addfreelancer">Add freelancer</a>
	</div>
</body>
</html>