<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>Offers</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{../css/bootstrap.min.css}" />
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">NN Translations</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="/index">Home
          </a>
        </li>
        <li class="nav-item" sec:authorize="hasAuthority('BROKER')">
          <a class="nav-link" href="/clientlist">Clients</a>
        </li>
        <li class="nav-item" sec:authorize="hasAuthority('BROKER')">
          <a class="nav-link" href="/languagelist">Languages</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/freelancerlist">Freelancers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/offerlist">Work Offers</a>
          <span class="visually-hidden">(current)</span>
        </li>
      </ul>
      <form th:action="@{/logout}" method="post" class="d-flex">
            <input type="submit" value="Sign Out" class="btn btn-primary"/>
      </form>
    </div>
  </div>
</nav>
<br/>
	<div style="margin-left:15px">
	<h4>Offer Info</h4>
	
	<table style="width:70%" class="table table-hover">
		<tr>
		<th scope="col">Client</th>
		<th scope="col">Word Count</th>
		<th scope="col">Price(€)</th>
		<th scope="col">Subject</th>
		<th scope="col">Requirements</th>
		<th scope="col">Source Language</th>
		<th scope="col">Target Language</th>
		<th scope="col">Deadline(GMT +2)</th>
		<th scope="col">Status</th>
		</tr>
		<tr th:object="${offer}">
			<td th:text="*{client.clientName}">Client</td>
			<td th:text="*{wordCount}">Word Count</td>
			<td th:text="*{price}">Price</td>
			<td th:text="*{subject}">Subject</td>
			<td th:text="*{requirements}">Requirements</td>
			<td th:text="*{sourceLanguage}">Source Language</td>
			<td th:text="*{targetLanguage}">Target Language</td>
			<td th:text="*{formattedDeadline()}">Deadline(GMT +2)</td>
			<td th:text="*{offerStatus}">Status</td>
		</tr>
	</table>
	
	<table>
	<tr>
	<td>
	<form th:object="${offer}" 
	th:action="@{/completeoffer/{id}(id=${offer.offerId})}" 
	action="#" method="post">
	<input type="submit" value="Completed" class="btn btn-outline-success btn-sm"></input>
	</form>
	</td>
<!-- <div style="clear: both; display: block; height: 10px;"></div> -->
	<td>
	<form th:object="${offer}" 
	th:action="@{/releaseoffer}" action="#" method="post">
	<label for="id"></label>
	<input type="hidden" id="id" th:field="*{offerId}" readonly="readonly" />
	<input type="submit" value="Release" class="btn btn-outline-warning btn-sm"></input>
	</form>
	</td>
	</tr>
	</table>
	
	<br/>
	<h4>Edit Offer</h4>	
	<div>
	<form th:object="${offer}" th:action="@{/updateoffer}" action="#" method="post">
	<label for="id"></label>
	<input type="hidden" id="id" th:field="*{offerId}" readonly="readonly" />
	<label for="assigned"></label>
	<input type="hidden" id="assigned" th:field="*{assigned}" readonly="readonly" />
	<label for="completed"></label>
	<input type="hidden" id="completed" th:field="*{completed}" readonly="readonly" />
	<label for="freelancer"></label>
	<input type="hidden" id="freelancer" th:field="*{freelancer}" readonly="readonly" />
	<label for="client">Client:</label>
	<select id="client" th:field="*{client}" class="form-control" style="width:200px">
		<option th:each="client: ${clients}"
			th:value="${client.clientId}"
			th:text="${client.clientName}">
		</option>	
	</select>
	<div style="clear: both; display: block; height: 10px;"></div>
	<label for="wordCount">Word Count:</label>
			<input type="text" id="wordCount" th:field="*{wordCount}" />
			<div th:if="${#fields.hasErrors('wordCount')}" th:errors="*{wordCount}" class="text-primary"></div>
	<div style="clear: both; display: block; height: 10px;"></div>
	<label for="price">Price(€):</label>
			<input type="text" id="price" th:field="*{price}" />
			<div th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="text-primary"></div>
	<div style="clear: both; display: block; height: 10px;"></div>
	<label for="subject">Subject:</label>
			<input type="text" id="subject" th:field="*{subject}" size="40" />
			<div th:if="${#fields.hasErrors('subject')}" th:errors="*{subject}" class="text-primary"></div>
	<div style="clear: both; display: block; height: 10px;"></div>
	<label for="requirements">Requirements:</label>
			<input type="text" id="requirements" th:field="*{requirements}" size="40" />
			<div th:if="${#fields.hasErrors('requirements')}" th:errors="*{requirements}" class="text-primary"></div>
	<div style="clear: both; display: block; height: 10px;"></div>
	<label for="sourceLanguage">Source Language:</label>
			<input type="text" id="sourceLanguage" th:field="*{sourceLanguage}" />
			<div th:if="${#fields.hasErrors('sourceLanguage')}" th:errors="*{sourceLanguage}" class="text-primary"></div>
	<div style="clear: both; display: block; height: 10px;"></div>
	<label for="targetLanguage">Target Language:</label>
			<input type="text" id="targetLanguage" th:field="*{targetLanguage}" />
			<div th:if="${#fields.hasErrors('targetLanguage')}" th:errors="*{targetLanguage}" class="text-primary"></div>
	<div style="clear: both; display: block; height: 10px;"></div>
	<label for="deadlineDate">Deadline:</label>
			<input placeholder="dd.mm.yyyy hh:mm" type="datetime-local" id="formDeadline" 
			name="formDeadline" class="form-control" required th:field="*{formDeadline}" style="width:250px"/>
	<div style="clear: both; display: block; height: 10px;"></div>
	<input type="submit" value="Save" class="btn btn-outline-success btn-sm"></input>
	</form>
	</div>
	<br/>
	<a href="/offerlist">Return without saving</a>
	<br/>
	<br/>
	</div>
</body>
</html>