<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Freelancers</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{../css/bootstrap.min.css}" />
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">NN Translations</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="/index">Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/clientlist">Clients</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/languagelist">Languages</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/freelancerlist">Freelancers</a>
          <span class="visually-hidden">(current)</span>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/offerlist">Work Offers</a>
        </li>
      </ul>
      <form th:action="@{/logout}" method="post" class="d-flex">
            <input type="submit" value="Sign Out" class="btn btn-primary"/>
      </form>
    </div>
  </div>
</nav>
<br/>
	<div style="margin-left:15px">
	<h4>Freelancer info</h4>
	<table style="width:70%" class="table table-hover">
		<tr>
			<th scope="col">Name</th>
			<th scope="col">Phone</th>
			<th scope="col">Address</th>
			<th scope="col">Email</th>
		</tr>
		<tr th:object="${freelancer}">
			<td th:text="*{freelancerFName} + ' ' + *{freelancerLName}">Name</td>
			<td th:text="*{freelancerPhone}">Phone</td>
			<td th:text="*{freelancerAddress}">Address</td>
			<td th:text="*{freelancerEmail}">Email</td>
		</tr>
	</table>
	<br/>
	
	<h4>Assigned Work Offers</h4>
	<table style="width:70%" class="table table-hover">
		<tr>
			<th scope="col">Client</th>
			<th scope="col">Subject</th>
			<th scope="col">Word Count</th>
			<th scope="col">Source Language</th>
			<th scope="col">Target Language</th>
			<th scope="col">Price</th>
			<th/>
			<th/>
			<th/>
		</tr>
		<tr th:each="offer: ${assignedoffers}">
			<td th:text="${offer.client.clientName}">Client Name</td>
			<td th:text="${offer.subject}">Subject Matter</td>
			<td th:text="${offer.wordCount}">Word Count</td>
			<td th:text="${offer.sourceLanguage}">Source Language</td>
			<td th:text="${offer.targetLanguage}">Target Language</td>
			<td th:text="${offer.price}">Price</td>
			<td>
			<form th:object="${offer}" th:action="@{/completeoffer/{id}(id=${offer.offerId})}" 
			action="#" method="post">
			<input type="submit" value="Completed" class="btn btn-outline-success btn-sm"></input>
			</form>			
			</td>
			<td><a th:href="@{/editoffer/{id}(id=${offer.offerId})}">Edit</a></td>
			<td><a th:href="@{/deleteoffer/{id}(id=${offer.offerId})}">Delete</a></td>
		</tr>
	</table>
	
	<br/>
	<h4>Completed Work Offers</h4>
	<table style="width:70%" class="table table-hover">
		<tr>
			<th>Client</th>
			<th>Subject</th>
			<th>Word Count</th>
			<th>Source Language</th>
			<th>Target Language</th>
			<th>Price</th>
			<th/>
			<th/>
		</tr>
		<tr th:each="offer: ${completedoffers}">
			<td th:text="${offer.client.clientName}">Client Name</td>
			<td th:text="${offer.subject}">Subject Matter</td>
			<td th:text="${offer.wordCount}">Word Count</td>
			<td th:text="${offer.sourceLanguage}">Source Language</td>
			<td th:text="${offer.targetLanguage}">Target Language</td>
			<td th:text="${offer.price}">Price</td>
			<td><a th:href="@{/editoffer/{id}(id=${offer.offerId})}">Edit</a></td>
			<td><a th:href="@{/deleteoffer/{id}(id=${offer.offerId})}">Delete</a></td>
		</tr>
	</table>
	
	<br/>
	<h4>Add or remove language proficiencies</h4>
	<i>proficiencies are saved automatically on change</i>
	<table style="width:70%" class="table table-hover">
	<tr>
	<td>
	<form th:object="${freelancer}" th:action="@{/addfreelancerlanguage/
	{id}(id=${freelancer.freelancerId})}" action="#" method="post">
	<label for="addlanguage">Available languages to add</label>
	<select id="addlanguage" th:field="*{freelanceLanguageField}" class="form-control">
		<option th:each="language: ${addlanguages}"
			th:value="${language.languageName}"
			th:text="${language.languageName}">
		</option>	
	</select>
	<div style="clear: both; display: block; height: 10px;"></div>
	<input type="submit" value="Add" class="btn btn-outline-success btn-sm"></input>
	</form>
	</td>
	<td>
	<form th:object="${freelancer}" th:action="@{/deletefreelancerlanguage/
	{id}(id=${freelancer.freelancerId})}" action="#" method="post">
	<label for="dellanguage">Remove freelancer language</label>
	<select id="dellanguage" th:field="*{freelanceLanguageField}" class="form-control">
		<option th:each="language: ${removelanguages}"
			th:value="${language.languageName}"
			th:text="${language.languageName}">
		</option>	
	</select>
	<div style="clear: both; display: block; height: 10px;"></div>
	<input type="submit" value="Remove" class="btn btn-outline-primary btn-sm"></input>
	</form>
	</td>
	</tr>
	</table>
	<br/>
	<h4>Edit freelancer info</h4>
	<div>
	<form th:object="${freelancer}" 
	th:action="@{/updatefreelancer}" 
	action="#" method="post">
	<label for="id"></label>
	<input type="hidden" id="id" th:field="*{freelancerId}" readonly="readonly" />
	<label for="freelancerFName">First Name:</label>
			<input type="text" id="freelancerFName" th:field="*{freelancerFName}" />
			<div th:if="${#fields.hasErrors('freelancerFName')}" th:errors="*{freelancerFName}" class="text-primary"></div>
	<div style="clear: both; display: block; height: 10px;"></div>
	<label for="freelancerLName">Last Name:</label>
			<input type="text" id="freelancerLName" th:field="*{freelancerLName}" />
			<div th:if="${#fields.hasErrors('freelancerLName')}" th:errors="*{freelancerLName}" class="text-primary"></div>
	<div style="clear: both; display: block; height: 10px;"></div>
	<label for="freelancerPhone">Telephone:</label>
			<input type="text" id="freelancerPhone" th:field="*{freelancerPhone}" />
			<div th:if="${#fields.hasErrors('freelancerPhone')}" th:errors="*{freelancerPhone}" class="text-primary"></div>
	<div style="clear: both; display: block; height: 10px;"></div>
	<label for="freelancerAddress">Address:</label>
			<input type="text" id="freelancerAddress" th:field="*{freelancerAddress}" />
			<div th:if="${#fields.hasErrors('freelancerAddress')}" th:errors="*{freelancerAddress}" class="text-primary"></div>
	<div style="clear: both; display: block; height: 10px;"></div>
	<label for="freelancerEmail">Email:</label>
			<input type="text" id="freelancerEmail" th:field="*{freelancerEmail}" />
			<div th:if="${#fields.hasErrors('freelancerEmail')}" th:errors="*{freelancerEmail}" class="text-primary"></div>
	<div style="clear: both; display: block; height: 10px;"></div>	
	<input type="submit" value="Save" class="btn btn-outline-success btn-sm"></input>
	</form>
	</div>	
	<br/>
	<a href="/freelancerlist">Return without saving</a>
	<br/>
	<br/>
	</div>
</body>
</html>