<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Edit Freelancer</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Freelancer info</h1>
	
	<table>
		<tr>
			<th>Name</th>
			<th>Phone</th>
			<th>Address</th>
			<th>Email</th>
			<th>Languages</th>
		</tr>
		<tr th:object="${freelancer}">
			<td th:text="*{freelancerFName} + ' ' + *{freelancerLName}">Name</td>
			<td th:text="*{freelancerPhone}">Phone</td>
			<td th:text="*{freelancerAddress}">Address</td>
			<td th:text="*{freelancerEmail}">Email</td>
			<td th:text="*{getLanguagesAsStrings()}">Languages</td>
		</tr>
	</table>
	<br/>
	
	<h2>Assigned Work Offers</h2>
	<table>
		<tr>
			<th>Client</th>
			<th>Subject</th>
			<th>Word Count</th>
			<th>Source Language</th>
			<th>Target Language</th>
			<th>Price</th>
			<th/>
			<th/>
		</tr>
		<tr th:each="offer: ${assignedoffers}">
			<td th:text="${offer.client.clientName}">Client Name</td>
			<td th:text="${offer.subject}">Subject Matter</td>
			<td th:text="${offer.wordCount}">Word Count</td>
			<td th:text="${offer.sourceLanguage}">Source Language</td>
			<td th:text="${offer.targetLanguage}">Target Language</td>
			<td th:text="${offer.price}">Price</td>
			<td>
			<form th:object="${offer}" th:action="@{/completeoffer/{id}(id=${offer.offerId})}" 
			action="#" method="post">
			<input type="submit" value="Completed"></input>
			</form>			
			</td>
			<td><a th:href="@{/editoffer/{id}(id=${offer.offerId})}">Edit</a></td>
			<td><a th:href="@{/deleteoffer/{id}(id=${offer.offerId})}">Delete</a></td>
		</tr>
	</table>
	
	<h2>Completed Work Offers</h2>
	<table>
		<tr>
			<th>Client</th>
			<th>Subject</th>
			<th>Word Count</th>
			<th>Source Language</th>
			<th>Target Language</th>
			<th>Price</th>
			<th/>
			<th/>
		</tr>
		<tr th:each="offer: ${completedoffers}">
			<td th:text="${offer.client.clientName}">Client Name</td>
			<td th:text="${offer.subject}">Subject Matter</td>
			<td th:text="${offer.wordCount}">Word Count</td>
			<td th:text="${offer.sourceLanguage}">Source Language</td>
			<td th:text="${offer.targetLanguage}">Target Language</td>
			<td th:text="${offer.price}">Price</td>
			<td><a th:href="@{/editoffer/{id}(id=${offer.offerId})}">Edit</a></td>
			<td><a th:href="@{/deleteoffer/{id}(id=${offer.offerId})}">Delete</a></td>
		</tr>
	</table>
	
	<h2>Add or remove language proficiencies</h2>
	
	<table>
	<tr>
	<td>
	<form th:object="${freelancer}" th:action="@{/addfreelancerlanguage/
	{id}(id=${freelancer.freelancerId})}" action="#" method="post">
	<label for="addlanguage">Available languages to add</label>
	<select id="addlanguage" th:field="*{freelanceLanguageField}" class="form-control">
		<option th:each="language: ${addlanguages}"
			th:value="${language.languageName}"
			th:text="${language.languageName}">
		</option>	
	</select>
	<div style="clear: both; display: block; height: 10px;"></div>
	<input type="submit" value="Add"></input>
	</form>
	</td>
	<td>
	<form th:object="${freelancer}" th:action="@{/deletefreelancerlanguage/
	{id}(id=${freelancer.freelancerId})}" action="#" method="post">
	<label for="dellanguage">Remove freelancer language</label>
	<select id="dellanguage" th:field="*{freelanceLanguageField}" class="form-control">
		<option th:each="language: ${removelanguages}"
			th:value="${language.languageName}"
			th:text="${language.languageName}">
		</option>	
	</select>
	<div style="clear: both; display: block; height: 10px;"></div>
	<input type="submit" value="Remove"></input>
	</form>
	</td>
	</tr>
	</table>
	<br/>
	<h2>Edit freelancer info</h2>
	<div>
	<form th:object="${freelancer}" 
	th:action="@{/updatefreelancer}" 
	action="#" method="post">
	<label for="id"></label>
	<input type="hidden" id="id" th:field="*{freelancerId}" readonly="readonly" />
	<label for="freelancerFName">First Name:</label>
			<input type="text" id="freelancerFName" th:field="*{freelancerFName}" />
	<div style="clear: both; display: block; height: 10px;"></div>
	<label for="freelancerLName">Last Name:</label>
			<input type="text" id="freelancerLName" th:field="*{freelancerLName}" />
	<div style="clear: both; display: block; height: 10px;"></div>
	<label for="freelancerPhone">Telephone:</label>
			<input type="text" id="freelancerPhone" th:field="*{freelancerPhone}" />
	<div style="clear: both; display: block; height: 10px;"></div>
	<label for="freelancerAddress">Address:</label>
			<input type="text" id="freelancerAddress" th:field="*{freelancerAddress}" />
	<div style="clear: both; display: block; height: 10px;"></div>
	<label for="freelancerEmail">Email:</label>
			<input type="text" id="freelancerEmail" th:field="*{freelancerEmail}" />
	<div style="clear: both; display: block; height: 10px;"></div>	
	<input type="submit" value="Save"></input>
	</form>
	</div>	
	<br/>
	<a href="/brokermain">Return without saving</a>
</body>
</html>