<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Edit Offer</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Offer Info</h1>
	
	<table>
		<tr>
		<th>Client</th>
		<th>Word Count</th>
		<th>Price(€)</th>
		<th>Subject</th>
		<th>Requirements</th>
		<th>Source Language</th>
		<th>Target Language</th>
		<th>Deadline(GMT +2)</th>
		<th>Status</th>
		</tr>
		<tr th:object="${offer}">
			<td th:text="*{client.clientName}">Client</td>
			<td th:text="*{wordCount}">Word Count</td>
			<td th:text="*{price}">Price</td>
			<td th:text="*{subject}">Subject</td>
			<td th:text="*{requirements}">Requirements</td>
			<td th:text="*{sourceLanguage}">Source Language</td>
			<td th:text="*{targetLanguage}">Target Language</td>
			<td th:text="*{formattedDeadline()}">Deadline(GMT +2)</td>
			<td th:text="*{offerStatus}">Status</td>
		</tr>
	</table>
	
	
	<form th:object="${offer}" 
	th:action="@{/completeoffer/{id}(id=${offer.offerId})}" 
	action="#" method="post">
	<input type="submit" value="Completed"></input>
	</form>
	<div style="clear: both; display: block; height: 10px;"></div>
	<form th:object="${offer}" 
	th:action="@{/releaseoffer}" action="#" method="post">
	<label for="id"></label>
	<input type="hidden" id="id" th:field="*{offerId}" readonly="readonly" />
	<input type="submit" value="Release"></input>
	</form>
	
	<h2>Edit Offer</h2>
	
	<div>
	<form th:object="${offer}" th:action="@{/updateoffer}" action="#" method="post">
	<label for="id"></label>
	<input type="hidden" id="id" th:field="*{offerId}" readonly="readonly" />
	<label for="client">Client:</label>
	<select id="client" th:field="*{client}" class="form-control">
		<option th:each="client: ${clients}"
			th:value="${client.clientId}"
			th:text="${client.clientName}">
		</option>	
	</select>
	<div style="clear: both; display: block; height: 10px;"></div>
	<label for="wordCount">Word Count:</label>
			<input type="text" id="wordCount" th:field="*{wordCount}" />
	<div style="clear: both; display: block; height: 10px;"></div>
	<label for="price">Price(€):</label>
			<input type="text" id="price" th:field="*{price}" />
	<div style="clear: both; display: block; height: 10px;"></div>
	<label for="subject">Subject:</label>
			<input type="text" id="subject" th:field="*{subject}" />
	<div style="clear: both; display: block; height: 10px;"></div>
	<label for="requirements">Requirements:</label>
			<input type="text" id="requirements" th:field="*{requirements}" />
	<div style="clear: both; display: block; height: 10px;"></div>
	<label for="sourceLanguage">Source Language:</label>
			<input type="text" id="sourceLanguage" th:field="*{sourceLanguage}" />
	<div style="clear: both; display: block; height: 10px;"></div>
	<label for="targetLanguage">Target Language:</label>
			<input type="text" id="targetLanguage" th:field="*{targetLanguage}" />
	<div style="clear: both; display: block; height: 10px;"></div>
	<label for="deadlineDate">Deadline:</label>
			<input placeholder="dd.mm.yyyy hh:mm" type="datetime-local" id="formDeadline" 
			name="formDeadline" class="form-control" required th:field="*{formDeadline}"/>
	<div style="clear: both; display: block; height: 10px;"></div>
	<input type="submit" value="Save"></input>
	</form>
	</div>
	
	<br/>
	<a href="/brokermain">Return without saving</a>
</body>
</html>