<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Freelancers</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">NN Translations</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="/index">Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/clientlist">Clients</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/languagelist">Languages</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/freelancerlist">Freelancers</a>
          <span class="visually-hidden">(current)</span>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/offerlist">Work Offers</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<br/>
	<div style="margin-left:15px">
	<h4>Freelancers</h4>
	<i>Deletion allowed for freelancers with no active or completed offers</i>
	<table style="width:70%" class="table table-hover">
	<tr>
		<th scope="col">Name</th>
		<th scope="col">Phone</th>
		<th scope="col">Address</th>
		<th scope="col">Email</th>
		<th scope="col">Languages</th>
		<th/>
		<th/>
	</tr>
	<tr th:each="freelancer: ${freelancers}">
		<td th:text="${freelancer.freelancerFName} + ' ' + ${freelancer.freelancerLName}">Freelancer name</td>
		<td th:text="${freelancer.freelancerPhone}">Phone number</td>
		<td th:text="${freelancer.freelancerAddress}">Address</td>
		<td th:text="${freelancer.freelancerEmail}">Email</td>
		<td th:text="${freelancer.getLanguagesAsStrings()}">Languages</td>
		<td><a th:href="@{/editfreelancer/{id}(id=${freelancer.freelancerId})}"
		class="btn btn-outline-warning btn-sm">Edit</a></td>
		<td><a th:href="@{/deletefreelancer/{id}(id=${freelancer.freelancerId})}"
		th:text="${freelancer.getOffersSize()} > 0 ? '' : 'Delete'"></a></td>
	</tr>
	</table>
	<div style="display:inline">
	<a href="/addfreelancer" class="btn btn-outline-success btn-sm" >Add freelancer</a>
	<a href="/index" class="btn btn-outline-info btn-sm">Return to main</a>
	</div>
	</div>
</body>
</html>